/* Scss Document */

// Variables
$accent: #fcd73f;
$secondary: #1a4d86;
$light: #fff;

// Global styling
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: $secondary;
  color: $light;
}

a {
  color: $light;
  text-decoration: none;
}

// Component styling
.nav {
  $nav-selector: &;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  &__link {
    & {
      display: inline-block;
      font-size: 2rem;
      padding: 0.4em 0.5em;
      transition: all 250ms ease;
    }

    #{$nav-selector}:hover &,
    #{$nav-selector}:focus-within & {
      opacity: 0.3;
    }

    &:hover,
    &:focus {
      opacity: 1 !important;
      color: $accent;
    }

    &--active {
      color: $accent;
    }
  }

  &__line {
    $transition-duration: 350ms;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 0.35rem;
    border-radius: 3rem;
    background-color: $accent;
    transform-origin: left;
    transition: all $transition-duration ease;

    animation: line-appearing $transition-duration ease-out forwards;
  }
}

@keyframes line-appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}